data/
scripts.*
__MACOSX/
model/

#/*.pdf


/.ipynb_checkpoints/

/__MACOSX/*

scripts/.ipynb_checkpoints/
scripts/__MACOSX/*


/scripts/.ipynb_checkpoints
/scripts/__pycache__
/scripts/*.DS_Store
/scripts/*.csv
/*.csv

train/
dataSet_phase2/
arima/
